@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1170px;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background-color: #FEAFC3;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.button {
  display: block;
  box-sizing: border-box;
  padding: 12px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  color: #2D3440;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.navigation-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-menu-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
}

.navigation-user-menu-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
}

.navigation-phone-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.slider-title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  text-transform: none;
  color: #2D3440;
}

.slider-description {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  color: #2D3440;
}

.main-title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-transform: none;
  color: #2D3440;
}

.promo-subtitle {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: #2D3440;
}


.news-post-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
}
