@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1170px;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background-color: #FEAFC3;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1170px;
  margin: 0 auto;
}

.page-header-catalog {
  margin-bottom: 32px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
}

.button {
  position: relative;
  display: block;
  box-sizing: border-box;
  max-width: max-content;
  padding: 12px 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  color: #2D3440;
  background-color: #FCFCFC;
  border: none;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4),
    0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #FCFCFC,
    0 4px 15px rgba(133, 133, 133, 0.15);
}

.button:active {
  background-color: #FCFCFC;
  box-shadow: 0 0 0 2px #2D3440,
    0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:focus {
  background: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2D3440,
    0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:disabled {
  background: #E7E7E7;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
}

.button-loading {
  display: block;
  box-sizing: border-box;
  max-width: max-content;
  padding-right: 40px;
  color: #2D3440;
  background-color: #FCFCFC;
  border: none;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4),
    0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.button-loading::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  right: 17px;
  border: 2px solid #242424;
  opacity: 0.24;
  border-radius: 50%;
}

.button-loading::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  right: 17px;
  border: 2px solid transparent;
  border-color: #242424 transparent transparent transparent;
  transform: rotate(45deg);
  border-radius: 50%;
}

.pink-button {
  color: #FCFCFC;
  background-color: #FF2F64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3),
    0 4px 12px rgba(45, 52, 64, 0.1);
}

.pink-button:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px #FF2F64;
}

.pink-button:active {
  color: #FCFCFC;
  background: #FEAFC3;
  box-shadow: 0 0 0 2px #2D3440,
    0 4px 12px rgba(45, 52, 64, 0.1);
}

.pink-button:focus {
  color: #FCFCFC;
  background: #FF2F64;
  box-shadow: 0 0 0 2px #2D3440,
    0 4px 12px rgba(45, 52, 64, 0.1);
}

.pink-button:disabled {
  color: #565C66;
  background: #B9B9B9;
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
}

.pink-button-loading {
  display: block;
  box-sizing: border-box;
  max-width: max-content;
  padding-right: 45px;
  color: #FCFCFC;
  background-color: #FF2F64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3),
    0 4px 12px rgba(45, 52, 64, 0.1);
}

.pink-button-loading::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  right: 17px;
  border: 2px solid #FCFCFC;
  opacity: 0.25;
  border-radius: 50%;
}

.pink-button-loading::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  right: 17px;
  border: 2px solid transparent;
  border-color: #FCFCFC transparent transparent transparent;
  transform: rotate(45deg);
  border-radius: 50%;
}

.filter-button {
  display: block;
  box-sizing: border-box;
  width: 185px;
  height: 36px;
  margin-top: 25px;
  padding: 8px 53px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  box-shadow: none;
  border-radius: 20px;
}

.filter-button:hover {
  background-color: #FCFCFC;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.filter-button:active {
  background-color: rgba(252, 252, 252, 0.5);
}

.filter-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
  box-shadow: none;
}

.filter-button:disabled {
  background-color: rgba(252, 252, 252, 1);
  opacity: 0.4;
  border: none;
  box-shadow: none;
}

.catalog-button {
  width: 179px;
}

.slider-button {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0;
  width: 38px;
  height: 38px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  cursor: pointer;
}

.slider-button-prev {
  display: block;
  position: absolute;
  fill: #FCFCFC;
  top: 50%;
  transform: translateY(-50%);
  left: 11px;
}

.slider-button-next {
  display: block;
  position: absolute;
  fill: #FCFCFC;
  top: 50%;
  transform: translateY(-50%);
  right: 11px;
}

.slider-button svg {
  fill: #FCFCFC;
}

.slider-button:hover svg,
.slider-button:active svg,
.slider-button:focus svg {
  fill: #2D3440;
}

.slider-button:disabled svg {
  fill: rgba(252, 252, 252, 1);
}

.slider-button:hover {
  fill: #2D3440;
  background-color: #FCFCFC;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
}

.slider-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.slider-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  opacity: 0.4;
}


.cart-button {
  display: block;
  width: 32px;
  height: 32px;
  padding: 8px;
  background-color: #FF2F64;
  border-radius: 50%;
  border: none;
  box-shadow: none;
}

.cart-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px #FF2F64;
}

.cart-button:active {
  background-color: #FFCBD8;
  box-shadow: 0 0 0 2px #FF2F64;
}

.cart-button:focus {
  background-color: #FF2F64;
  box-shadow: 0 0 0 2px #2D3440;
}

.cart-button:disabled {
  background-color: #B9B9B9;
  box-shadow: none;
}

.cart-button svg {
  fill: #FCFCFC;
}

.cart-button:hover svg,
.cart-button:active svg {
  fill: #242424;
}

.cart-button:focus svg {
  fill: #FCFCFC;
}

.cart-button:disabled svg {
  fill: #565C66;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.navigation-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-menu-item {
  position: relative;
}

.navigation-logo-link {
  display: block;
  margin-right: 16px;
}

.navigation-menu-link {
  position: relative;
  display: block;
  padding: 8px 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
  border: 2px solid transparent;
}

.navigation-link-current {
  display: block;
  color: #FCFCFC;
  background-color: #FF4A78;
  border-radius: 30px;
}

.navigation-menu-link:default {
  color: #2D3440;
}

.navigation-menu-link:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-menu-link:active {
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 30px;
}

.navigation-menu-link:focus {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
}

.navigation-user-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-menu-item {
  position: relative;
}

.navigation-user-menu-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
  border: 2px solid transparent;
}

.navigation-user-menu-link:default {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
}

.navigation-user-menu-link:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-user-menu-link:active {
  color: #2D3440;
  background-color: #FCFCFC;
}

.navigation-user-menu-link:focus {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
}

.navigation-phone-link {
  display: block;
  padding: 6px 0 6px 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.navigation-phone-link:default {
  color: #2D3440;
}

.navigation-phone-link:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-phone-link:active {
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 30px;
}

.navigation-phone-link:focus {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
  border-radius: 30px;
}

.search-link,
.login-link,
.cart-link {
  display: block;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.login-link,
.cart-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 6px 16px;
}

.search-link {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 7px;
}

.popover-catalog {
  z-index: 2;
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 135px;
  margin-top: 8px;
  padding: 8px 0 8px 0;
  left: 0;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.popover-title-catalog {
  position: relative;
  display: block;
  margin: 0;
  padding-left: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: #2D3440;
  margin-bottom: 16px;
}

.popover-title-catalog::after {
  position: absolute;
  display: block;
  content: "";
  width: 103px;
  height: 0;
  bottom: -8px;
  border-bottom: 1px solid #B9B9B9;
}

.popover-dropdown-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popover-link-catalog {
  display: block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
}

.popover-dropdown-item {
  display: block;
  box-sizing: border-box;
  padding: 6px 0 6px 16px;
}

.popover-dropdown-item:hover {
  background-color: #FFCBD8;
}

.popover-dropdown-item:active {
  background-color: #FF7799;
}

/* для ссылок каталога поповера в выбранном состоянии*/
.popover-link-catalog-current {
  background-color: #FF4A78;
}

.popover-dropdown-item:last-child {
  margin-bottom: 0;
}

.popover-search {
  z-index: 2;
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 356px;
  margin-top: 8px;
  padding: 24px 16px;
  right: 0;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.popover-search-field {
  display: block;
  box-sizing: border-box;
  width: 324px;
  outline: none;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  color: #242424;
  background-image: url("../images/index.html/cross-popover.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.popover-login {
  z-index: 2;
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 420px;
  margin: 0;
  margin-top: 8px;
  padding: 48px 48px 36px 48px;
  right: 0;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.popover-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popover-field {
  width: 324px;
}

.popover-field.field::placeholder {
  color: #2D3440;
}

.popover-auth {
  display: flex;
  margin-top: 16px;
}

.popover-button-login {
  width: 113px;
  margin-right: 23px;
}

.popover-link-group {
  display: flex;
  flex-direction: column;
}

.popover-link {
  display: block;
  margin-bottom: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-transform: none;
}

.popover-cart {
  z-index: 1;
  position: absolute;
  display: block;
  box-sizing: border-box;
  min-width: 441px;
  min-height: 382px;
  margin-top: 8px;
  padding: 48px;
  right: 0;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.popover-title {
  display: block;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: #2D3440;
}

.popover-list {
  display: grid;
  grid-row-gap: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 32px;
}

.popover-item {
  display: grid;
  grid-template-columns: 62px 164px 103px 52px;
  align-items: center;
}

.image-popover {
  display: block;
}

.popover-cart-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  text-decoration: none;
}

.popover-item-details {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
  text-transform: none;
}

.popover-item-price,
.popover-total-price {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.close-button-popover {
  display: block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  margin: 0;
  background-image: url("../images/index.html/cross-popover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.popover-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  border-top: 1px solid #E7E7E7;
}

.popover-button {
  width: 198px;
}

.popover-cart-empty {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 288px;
  margin-top: 8px;
  padding: 48px 0 48px 0;
  right: 0;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.popover-cart-empty-title {
  width: 288px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #2D3440;
}

.navigation-user-menu-link:hover + .popover,
.navigation-user-menu-link:focus + .popover,
.navigation-user-menu-link:focus-within + .popover {
  display: block;
}

.navigation-menu-link:hover + .popover,
.navigation-menu-link:focus + .popover,
.navigation-menu-link:focus-within + .popover {
  display: block;
}

.popover {
  display: none;
}


.slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.slider-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 470px;
  margin-right: 5px;
}

.slider-image-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 312px;
  margin: 0 19px;
}

.slider-image-content::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  width: 312px;
  height: 312px;
  top: -55px;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #FFCBD8;
  border-radius: 50%;
}

.slider-not-selected {
  display: none;
}

.slider-image-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 41px;
  width: 630px;
}

.small-image-container {
  position: relative;
}

.small-image-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  width: 100px;
  height: 100px;
  top: 25px;
  background-color: #FFCBD8;
  border-radius: 50%;
  opacity: 0.4;
}

.slider-image {
  display: block;
  width: 306px;
  height: 507px;
}

.slider-image-not-selected {
  display: block;
  opacity: 0.4;
}

.slider-image-not-selected:last-child {
  margin-right: 0;
}

.slider-button-container {
  position: absolute;
  display: flex;
  width: 350px;
  justify-content: space-between;
  left: -1px;
}

.slider-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  text-transform: none;
  color: #2D3440;
}

.slider-description {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  color: #2D3440;
}

.slider-pagination-button {
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  background-color: #FCFCFC;
  opacity: 0.3;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.pagination-button-current {
  background-color: #FCFCFC;
  opacity: 1;
}

.slider-pagination-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 1px #FCFCFC;
}

.slider-pagination-button:active {
  background-color: #FCFCFC;
}

.slider-pagination-button:focus {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 1px #2D3440;
}

.slider-social-container {
  display: flex;
  justify-content: space-between;
}

.main-title {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-transform: none;
  color: #2D3440;
}

.description {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  color: #565C66;
}

.promo-description {
  width: 328px;
  margin-bottom: 28px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  color: #2D3440;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  color: #2D3440;
}

.price {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  color: #2D3440;
}

.popular-product-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}

.social-link {
  display: block;
  box-sizing: border-box;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: 2px solid rgba(252, 252, 252, 0.3)
}

.social-link svg {
  fill: #FCFCFC;
}

.social-link:hover {
  background-color: #2D3440;
}

.social-link:active {
  background-color: #2D3440;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.5);
  opacity: 0.5;
}

.social-link:focus {
  background-color: #2D3440;
  box-shadow: 0 0 0 2px #2d3440;
  border-radius: 50%;
}

.social-item:last-child {
  margin-right: 0;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.promo-container {
  display: flex;
  width: 1170px;
  gap: 30px;
}

.promo-one,
.promo-two {
  width: 570px;
  padding: 36px;
  background-color: #FF7799;
  border-radius: 16px;
}

.promo-one {
  background-image: url("../images/index.html/promo-one.png");
  background-repeat: no-repeat;
  background-size: 219px 269px;
  background-position: right bottom;
}

.promo-two {
  background-image: url("../images/index.html/promo-two.png");
  background-repeat: no-repeat;
  background-size: 219px 269px;
  background-position: right bottom;
}

.promo-subtitle {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: #2D3440;
}

.promo-button {
  width: 176px;
}

.popular-product {
  margin-bottom: 80px;
}

.popular-product-list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 40px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.popular-product-item {
  display: block;
  box-sizing: border-box;
  min-width: 270px;
  min-height: 281px;
  padding: 0 40px 24px;
  border-radius: 8px;
}

.popular-product-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popular-product-link::before {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  width: 270px;
  height: 281px;
  top: 50px;
  border-radius: 8px;
  background-color: #FCFCFC;
}

.popular-product-image {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.popular-product-subtitle {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}

.popular-product-description {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.company-advantages-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 0;
  margin-bottom: 80px;
  background-image: url("../images/index.html/background-advantages.png");
  background-repeat: no-repeat;
  background-color: #FCC850;
  background-size: cover;
  border-radius: 16px;
}

.company-advantages {
  padding: 56px 40px;
  margin: 0;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.company-advantages-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.company-advantages-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 505px;
  gap: 16px;
}

.icon-ice-cream::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background-image: url("../images/index.html/icon-ice-cream-production.svg");
  background-repeat: no-repeat;
}

.icon-cow::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background-image: url("../images/index.html/icon-cow.svg");
  background-repeat: no-repeat;
}

.icon-leaf::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background-image: url("../images/index.html/icon-leaf.svg");
  background-repeat: no-repeat;
}

.icon-thermometer::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background-image: url("../images/index.html/icon-thermometer.svg");
  background-repeat: no-repeat;
}

.news {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 80px;
}

.news-post,
.newsletter {
  width: 570px;
}

.news-post {
  padding: 33px 0 68px 32px;
  background-image: url("../images/index.html/news-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.newsletter {
  padding: 6px;
  background-image: url("../images/index.html/background-newsletter.png");
  background-size: cover;
  background-color: #E7E7E7;
  border-radius: 16px;
}

.newsletter-content {
  padding: 26px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.newsletter-description {
  width: 506px;
  margin-bottom: 42px;
}

.newsletter-form {
  display: flex;
}

.newsletter-field {
  width: 332px;
  margin-right: 14px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.delivery {
  display: flex;
  justify-content: space-between;
  gap: 135px;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  background-image: url("../images/index.html/delivery-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #E7E7E7;
  background-position: -10px;
  border-radius: 16px;
}

.delivery-content {
  display: flex;
  flex-direction: column;
  padding-top: 103px;
  width: 371px;
}

.delivery-information-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 40px 40px 42px 40px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-title {
  text-align: start;
  margin-bottom: 24px;
}

.delivery-description {
  width: 371px;
}

.delivery-information-description {
  margin-bottom: 32px;
}

.delivery-form {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.delivery-date-field {
  width: 117px;
}

.delivery-phone-field {
  width: 287px;
}

.delivery-address {
  margin-bottom: 32px;
}

.delivery-address-field {
  width: 420px;
}

.delivery-date-label,
.delivery-phone-label,
.delivery-address-label {
  margin-bottom: 8px;
}

.delivery-button {
  margin: 0 auto;
}

.tooltip {
  position: relative;
}

.tooltip-date-button {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  color: #2D3440;
  top: -24px;
  left: 44px;
  background-image: url("../images/index.html/icon-tooltip.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.tooltip-address-button {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  color: #2D3440;
  top: -24px;
  left: 56px;
  background-image: url("../images/index.html/icon-tooltip.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.tooltip-text {
  position: absolute;
  box-sizing: border-box;
  width: 162px;
  margin: 0;
  padding: 10px 8px;
  top: -37px;
  left: 78px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  text-align: left;
  color: #2D3440;
  background-color: #FCFCFC;
  border: 1px solid #B9B9B9;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 1px;
  display: none;
}

.date {
  position: absolute;
  box-sizing: border-box;
  top: -38px;
  left: 66px;
}

.date::before {
  z-index: 2;
  content: "";
  position: absolute;
  display: block;
  left: -17px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right: 7px solid #b9b9b9;
}

.date::after {
  z-index: 2;
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  left: -16px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right: 7px solid #FCFCFC;
}

.tooltip-text::before {
  z-index: 2;
  content: "";
  position: absolute;
  display: block;
  left: -17px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right: 7px solid #b9b9b9;
}

.tooltip-text::after {
  z-index: 2;
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  left: -16px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right: 7px solid #FCFCFC;
}

.tooltip-date-button:hover + .tooltip-text {
  display: block;
}

.tooltip-address-button:hover + .tooltip-text {
  display: block;
}

.news-post-title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color: #2D3440;
}

.news-post-link {
  display: block;
  width: 303px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
}

.label {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color: #2D3440;
}

.field {
  display: block;
  box-sizing: border-box;
  padding: 14px 16px 14px 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}

.field::placeholder {
  color: #B9B9B9;
}

.field:hover {
  color: #2d3440;
  border: 1px solid #2D3440;
}

.field:focus {
  color: #2d3440;
  box-shadow: 0 0 0 2px #2D3440;
}

.field:disabled {
  color: #2d3440;
  background-color: #E7E7E7;
  border: 1px solid #B9B9B9;
}

.field:disabled:hover {
  color: #2d3440;
}

/* в случае ошибки при вводе текста  */

.error {
  color: #2d3440;
  border: 1px solid #EA5454;
}

.error:hover {
  color: #2d3440;
  box-shadow: 0 0 0 2px #EA5454;
  border: none;
}

.contacts {
  padding: 64px;
  background-image: url("../images/index.html/feedback-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #E7E7E7;
  border-radius: 16px;
}

.address-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 343px;
  padding: 40px;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.address-title {
  margin-bottom: 12px;
}

.address-subtitle {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  color: #2D3440;
}

.contacts-phone {
  margin-bottom: 12px;
}

.contacts-phone-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  color: #2D3440;
}

.contacts-phone-details-subtitle {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: #565C66;
}

.feedback-button {
  width: 250px;
}

.page-footer {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 48px 0;
}

.page-footer-catalog::before {
  content: "";
  position: absolute;
  display: block;
  width: 1170px;
  top: 0;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.footer-social-container {
  display: flex;
  justify-content: space-between;
}

.footer-social-contacts-list {
  display: flex;
  width: 120px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.footer-menu-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 24px;
  width: 356px;
  margin: 0;
  margin-left: 130px;
  padding: 0;
  list-style-type: none;
}

.footer-menu-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer-menu-link-current {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu-link-current::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: -24px;
  background-image: url("../images/index.html/icon-heart.svg");
}

.footer-menu-link-current {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.copyright-container {
  width: 193px;
  margin-left: auto;
}

.copyright {
  display: flex;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  display: block;
  margin-bottom: 14px;
}

.htmlacademy-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.main-inner {
  width: 1170px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  position: relative;
  display: block;
  margin-right: 28px;
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs-link::after {
  content: "";
  position: absolute;
  display: block;
  margin: 0;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: 65px;
  color: #2D3440;
  background-image: url("../images/catalog.html/icon-breadcrumbs.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  content: none;
}

.breadcrumbs-link-current {
  display: block;
  border-bottom: 1px solid #2D3440;
}

.breadcrumbs-title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-transform: none;
  color: #2D3440;
}

.catalog-filters-container {
  display: flex;
  margin-bottom: 44px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;

}

.range-checkbox-container {
  display: flex;
}

.checkbox-group-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.filter-title {
  margin: 0;
  margin-left: 16px;
  margin-bottom: 8px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: #2D3440;
}

.select-control-container {
  display: block;
  margin-right: 24px;
  border: none;
}

.select-control {
  display: block;
  box-sizing: border-box;
  width: 196px;
  min-height: 36px;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: #2D3440;
  background-image: url("../images/catalog.html/arrow-select-control.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  border: none;
  appearance: none;
}

.select-control:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
}

.select-control:focus {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: inset 0 0 0 2px #ffffff;
}

.range-scale-group {
  border: none;
}

.range-scale-container {
  display: block;
  box-sizing: border-box;
  margin-right: 24px;
  padding: 17px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  border: none;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 0;
  border-bottom: 2px solid rgba(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  width: 56px;
  height: 0;
  left: 40px;
  top: 0;
  border-bottom: 2px solid #565C66;
}

.range-toggle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  background-color: #FCFCFC;
  border: 6px solid #2D3440;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #2D3440;
  border: 6px solid #FCFCFC;
}

.range-toggle:active {
  background-color: #2D3440;
}

.range-toggle:focus {
  background-color: #2D3440;
  border: 6px solid #FCFCFC;
  box-shadow: 0 0 0 2px #2D3440;
}

.toggle-min {
  top: -7px;
  left: -10px;
}

.toggle-max {
  top: -7px;
  right: -10px;
}

.radio-group {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.checkbox-group {
  display: block;
  box-sizing: border-box;
  gap: 16px;
  margin: 0;
  margin-right: 16px;
  border: none;
}

.catalog-filter-list {
  display: flex;
  margin: 0;
  padding: 8px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  list-style-type: none;
}

.catalog-filter-item {
  margin-right: 16px;
}

.control {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.control-mark {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #2D3440;
  border-radius: 3px;
}

.control-mark-checkbox {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: none;
}

.control-input[type="checkbox"] + .control-mark {
  margin-right: 8px;
}

.control-input[type="checkbox"] + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog.html/icon-checkbox-square.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
}

.control-input[type="checkbox"]:default + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog.html/icon-checkbox-square.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
}

.control-input[type="checkbox"]:hover + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog.html/icon-checkbox-square-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
}

.control-input[type="checkbox"]:focus + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog.html/icon-checkbox-square-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
}

.control-input[type="checkbox"]:disabled + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog.html/icon-checkbox-square.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  opacity: 0.5;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog.html/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
}

.control-input[type="checkbox"]:checked:disabled + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog.html/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
}

.control-input[type="checkbox"]:checked:hover + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog.html/icon-checkbox-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
}

.control-input[type="checkbox"]:checked:focus + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog.html/icon-checkbox-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
}


.control-input[type="checkbox"]:checked:disabled + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog.html/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  opacity: 0.5;
}


.control-label {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
  border-color: #2D3440;
  margin-right: 8px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 5px;
  left: 5px;
  background-color: #2D3440;
  border-radius: 50%;
}

.control-input[type="radio"]:default + .control-mark {
  border-radius: 50%;
  border-color: #2D3440;
  margin-right: 8px;
}

.control-input[type="radio"]:checked:default + .control-mark::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 5px;
  left: 5px;
  background-color: #2D3440;
  border-radius: 50%;
}

.control-input[type="radio"]:hover + .control-mark {
  border-radius: 50%;
  border-color: #FCFCFC;
  margin-right: 8px;
}

.control-input[type="radio"]:focus + .control-mark {
  border-radius: 50%;
  border-color: #FCFCFC;
  margin-right: 8px;
}

.control-input[type="radio"]:checked:hover + .control-mark::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 5px;
  left: 5px;
  background-color: #FCFCFC;
  border-radius: 50%;
}

.control-input[type="radio"]:checked:focus + .control-mark::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 5px;
  left: 5px;
  background-color: #FCFCFC;
  border-radius: 50%;
}

.control-input[type="radio"]:disabled + .control-mark {
  border-radius: 50%;
  border-color: #2D3440;
  margin-right: 8px;
  opacity: 0.5;
}

.control-input[type="radio"]:checked:disabled + .control-mark::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 5px;
  left: 5px;
  background-color: #2D3440;
  border-radius: 50%;
  opacity: 0.5;
}

.catalog-products-list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 40px 30px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
}

.catalog-products-item {
  display: block;
  box-sizing: border-box;
  min-width: 270px;
  min-height: 281px;
  padding: 0 40px 24px 40px;
}

.catalog-products-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.catalog-products-link::before {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  width: 270px;
  height: 281px;
  top: 55px;
  border-radius: 8px;
  background-color: #FCFCFC;
}

.catalog-products-image {
  margin-bottom: 20px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.catalog-products-subtitle {
  margin-bottom: 8px;
}

.catalog-products-description {
  text-align: center;
  margin-bottom: 16px;
}

.catalog-products-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 41px 0 41px 0;
  margin-left: auto;
  margin-bottom: 40px;
  width: 681px;
}

.pagination-group {
  display: flex;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 168px;
  list-style-type: none;
}

.pagination-number-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 24px;
  padding: 2px 6px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: #2D3440;
  cursor: pointer;
  border: 1px solid transparent;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #FCFCFC;
  border-radius: 50px;
}

.pagination-link:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
  border-radius: 50px;
}

.pagination-current {
  display: flex;
  align-items: center;
  background-color: #FCFCFC;
  border-radius: 50%;
}

.pagination-prev {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.pagination-next {
  display: flex;
  align-items: center;
  height: 16px;
  margin-left: 8px;
}

.pagination-prev,
.pagination-next {
  padding: 3px;
}

.pagination-prev svg,
.pagination-next svg {
  fill: #2D3440;
}

.pagination-prev,
.pagination-next {
  padding: 3px;
}

/* для ссылок пагинации в неактивном состоянии */

.disabled {
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  z-index: 2;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  width: 570px;
  max-height: 545px;
  padding: 64px 64px 66px 64px;
  color: #2D3440;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-close-button {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  right: 34px;
  top: 34px;
  margin-bottom: 16px;
  background-image: url("../images/catalog.html/cross-modal-view.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content-title {
  display: block;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.modal-form-field {
  display: block;
  box-sizing: border-box;
  width: 442px;
  margin: 0;
}

.modal-textarea {
  display: block;
  box-sizing: border-box;
  padding: 14px 16px;
  min-height: 149px;
  resize: none;
}

.modal-button {
  margin-top: 16px;
  margin-left: auto;
}

.modal-container-close {
  display: none;
}
