@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1170px;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background-color: #FEAFC3;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1170px;
  margin: 0 auto;
  padding: 24px 0;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
}

.button {
  display: block;
  box-sizing: border-box;
  padding: 12px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  color: #2D3440;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.order-button {
  width: 139px;
}

.pink-button {
  width: 152px;
  color: #FCFCFC;
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
}

.filter-button {
  width: 185px;
  padding: 8px 53px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}

.catalog-button {
  width: 179px;
}

.slider-button {
  display: block;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart-button {
  width: 32px;
  height: 32px;
  padding: 8px;
  background-color: #FF2F64;
  border-radius: 50%;
  border: none;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
}

.navigation-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-logo-link {
  display: block;
  margin-right: 16px;
}

.navigation-menu-link {
  display: block;
  padding: 8px 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
}

.navigation-user-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-menu-link {
  display: block;
  margin-right: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
}

.navigation-user-menu-item:last-child {
  margin-right: 0;
}

.navigation-phone-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.search-link,
.login-link,
.cart-link {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.login-link,
.cart-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 6px 16px;
}

.search-link {
  width: 32px;
  height: 32px;
  padding: 7px;
  box-sizing: border-box;
}

.slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider-content {
  display: flex;
  flex-direction: column;
  width: 470px;
}

.slider-image-content-selected {
  display: flex;
  flex-wrap: wrap;
  margin-right: 41px;
}

.slider-image-content-not-selected {
  display: none;
}

.slider-image-container {
  display: flex;
  align-items: center;
}

.slider-image-selected {
  position: relative;
  display: block;
  width: 306px;
  height: 507px;
}

.slider-image-selected::before {
  position: absolute;
  content: "";
  width: 312px;
  height: 312px;
  background-color: #FFCBD8;
  border-radius: 50%;
}

.slider-image {
  display: block;
  margin-right: 41px;
}

.slider-image:last-child {
  margin-right: 0;
}

.slider-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  text-transform: none;
  color: #2D3440;
}

.slider-description {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  color: #2D3440;
}

.slider-pagination-button {
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  background-color: #FCFCFC;
  opacity: 0.3;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.pagination-button-current {
  background-color: #FCFCFC;
  opacity: 1;
}

.slider-social-container {
  display: flex;
  justify-content: space-between;
}

.main-title {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-transform: none;
  color: #2D3440;
}

.description {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  color: #565C66;
}

.promo-description {
  width: 328px;
  margin-bottom: 28px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  color: #2D3440;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  color: #2D3440;
}

.price {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  color: #2D3440;
}

.popular-product-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}

.social-link {
  display: block;
  margin-right: 16px;
}

.social-item:last-child {
  margin-right: 0;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.promo-container {
  display: flex;
  width: 1170px;
  gap: 30px;
}

.promo-one,
.promo-two {
  width: 570px;
  padding: 36px;
  background-color: #FF7799;
  border-radius: 16px;
}

.promo-one {
  background-image: url("../images/index.html/promo-one.png");
  background-repeat: no-repeat;
  background-size: 219px 269px;
  background-position: right bottom;
}

.promo-two {
  background-image: url("../images/index.html/promo-two.png");
  background-repeat: no-repeat;
  background-size: 219px 269px;
  background-position: right bottom;
}

.promo-subtitle {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: #2D3440;
}

.promo-button {
  width: 176px;
}

.popular-product {
  margin-bottom: 80px;
}

.popular-product-item {
  display: block;
  box-sizing: border-box;
  min-width: 270px;
  min-height: 281px;
  padding: 0 40px 24px;
  background: linear-gradient(#FEAFC3 51px, #FCFCFC 49px);
  border-radius: 8px;
}

.popular-product-list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 40px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.popular-product-link {
  display: block;
  cursor: pointer;
}

.popular-product-image {
  display: block;
  margin: 0;
  padding: 0;
}

.popular-product-subtitle {
  display: block;
  text-align: center;
}

.popular-product-description {
  display: block;
  text-align: center;
}

.company-advantages-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 0;
  margin-bottom: 80px;
  background-image: url("../images/index.html/background-advantages.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.company-advantages {
  min-height: 432px;
  padding: 56px 40px;
  margin: 0;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.company-advantages-item {
  width: 505px;
}

.company-advantages-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.icon-ice-cream::before {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background-image: url("../images/index.html/icon-ice-cream-production.svg");
  background-repeat: no-repeat;
}

.icon-cow {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background-image: url("../images/index.html/icon-cow.svg");
  background-repeat: no-repeat;
}


.icon-leaf {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background-image: url("../images/index.html/icon-leaf.svg");
  background-repeat: no-repeat;
}


.icon-thermometer {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background-image: url("../images/index.html/icon-thermometer.svg");
  background-repeat: no-repeat;
}


.news {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 80px;
}

.news-post,
.newsletter {
  width: 570px;
}

.news-post {
  padding: 33px 0 68px 32px;
  background-image: url("../images/index.html/news-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.newsletter {
  padding: 6px;
  background-image: url("../images/index.html/background-newsletter.png");
  background-size: cover;
  border-radius: 16px;
}

.newsletter-content {
  padding: 26px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.newsletter-description {
  width: 506px;
  margin-bottom: 42px;
}

.newsletter-form {
  display: flex;
}

.delivery {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/index.html/delivery-picture.jpg");
}

.delivary-content {
  display: flex;
  flex-direction: column;
  width: 371px;
}

.delivery-information-container {
  width: 500px;
  background-color: #FCFCFC;
}

.news-post-title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color: #2D3440;
}

.news-post-link {
  display: block;
  width: 303px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
}

.label {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color: #2D3440;
}

.field {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
}

.field::placeholder {
  color: #B9B9B9;
}

.contacts {
  background-image: url("../images/index.html/feedback-picture.jpg");
}

.address-container {
  width: 343px;
  background-color: #FCFCFC;
}

.address-subtitle {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  color: #2D3440;
}

.contacts-phone-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
  color: #2D3440;
}

.contacts-phone-details-subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: #565C66;
}

.feedback-button {
  width: 250PX;
}

.page-footer {
  width: 1170px;
  margin: 0 auto;
}

.footer-social-container {
  display: flex;
  justify-content: space-between;
}

.footer-social-contacts-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-menu-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-menu-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer-menu-link-current {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.copyright {
  display: flex;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.main-inner {
  width: 1170px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  display: block;
  margin-right: 28px;
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs-link-current {
  display: block;
  text-decoration: underline;
}

.breadcrumbs-title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-transform: none;
  color: #2D3440;
}

.catalog-filters {
  width: 823px;
}

.filters-container {
  display: flex;
}

.select-control-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.range-checkbox-container {
  display: flex;
}

.checkbox-group-container {
  display: flex;
}

.filter-title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: #2D3440;
}

.select-control {
  width: 196px;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: #2D3440;
}

.range-scale-group {
  width: 196px;
}

.radio-group {
  width: 383px;
}

.checkbox-group {
  width: 604px;
  margin-right: 16px;
}

.catalog-filter-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  margin-right: 16px;
}

.control-label {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.catalog-products-list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 40px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-products-price-container {
  display: flex;
  justify-content: space-between;
}

.pagination-container {
  display: flex;
}

/* .one {
  display: flex;

} */

.pagination-group {
  display: flex;
  margin-left: auto;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-number-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
}
